apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  annotations:
    k8s.ovn.org/network-name: {{ nad_vlan_name }}
  name: {{ nad_vlan_name }}
  namespace: default
spec:
  config: '{ 
	"cniVersion": "0.4.0",
	"name": "{{ nad_vlan_name }}",
	"type": "ovn-k8s-cni-overlay",
	"topology": "localnet",
	"vlanID": {{ vlanID }},
	"netAttachDefName": "default/{{ nad_vlan_name }}"
  }'

