apiVersion: forklift.konveyor.io/v1beta1
kind: Host
metadata:
  name: "{{ mtv_management_populated_vmware_target['name'] }}-{{ vmware_esxi.id }}-config"
  namespace: "{{ mtv_management_provider_namespace }}"
spec:
  id: "{{ vmware_esxi.id }}"
  ipAddress: "{{ vmware_esxi.ip }}"
  provider:
    name: "{{ mtv_management_populated_vmware_target['name'] }}"
    namespace: "{{ mtv_management_provider_namespace }}"
  secret:
    name: "{{ mtv_management_populated_vmware_target['name'] }}-{{ vmware_esxi.id }}-secret"
    namespace: "{{ mtv_management_provider_namespace }}"
